<%- include("partials/header") %>

<div class="ui main text container">
    <h1>Add New Tutorial</h1>
    
    <form class="ui form segment" action="/tutorials" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="tutorial[title]">
        </div>
        <div class="field">
            <label>Video ID</label>
            <input type="text" name="tutorial[videoID]">
        </div>
        <div class="field">
            <label>Image Link</label>
            <input type="text" name="tutorial[image]">
        </div>
        <div class="field">
            <label>Video Link</label>
            <input type="url" name="tutorial[video]">
        </div>
        <div class="field">
            <label>Colors/Materials</label>
            <textarea name="tutorial[colors]" cols="30" rows="5"></textarea>
        </div>
        <button class="ui blue basic button" type="submit">Submit</button>
    </form>
</div>


<%- include("partials/footer") %>