.container.main {
    margin-top: 7.0em;
    margin-bottom: 70px;
}

.logo {
    font-size: 1.1rem;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    letter-spacing: .15rem;
}

#intro {
    margin-bottom: 40px;
}

#delete {
    display: inline;
}

.tutorial-image {
    box-shadow: -5px 5px 5px gray;
}

h3 {
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .15rem;
}

#colors {
    margin: 20px 40px;
    padding-left: 50px;
    font-size: 1.4rem;
}

.show-buttons {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
}

#show-buttons-l {
    text-align: center;
}

#play-button {
    width: 200px;
}